body, html {
    height: auto;
    margin: 0;
}

.regPanel {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    
}

.colbutton {
    background-color: #9400D3;
    color: white
}